@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro'),
    url('./fonts/MabryPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  place-items: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

div {
  scroll-margin: 0px;
  scroll-snap-align: start;
}